---
layout: default
---

<div id="home">
	<ul class="posts">
    {% for post in site.posts %}
    	
    	<section>
	    	<h2 class="alt"><strong><a href="{{ post.url }}">{{ post.title }}</a></strong></h2>
	    	<li><span>{{ post.date | date_to_string }}</span></li>

	    	{% if post.image %}
            <figure>
                <a href="{{ post.url }}">
                    <img src="/{{ post.image }}" class="image full" alt="{{ post.title | strip_html }}" title="{{ post.title | strip_html }}" width="700" height="432" />
                </a>
            </figure>
            {% endif %}

	    	<p>{{ post.resumo }}</p>

	    	<footer>
				<a href="{{ post.url }}" >Continue Lendo >></a>
			</footer>
		</section>

		<footer><hr/></footer>

    {% endfor %}
	</ul>
</div>