<!DOCTYPE html>
<html lang="pt-BR">

{% include header.html %}

<body>

  {% include menu.html %}

  <div id="main">

    <!-- Intro -->
    <section id="top" class="one">
      <div class="container">

        <a href="{{ page.menu_current }}" class="image featured"><img src="{{ site.baseurl }}images/pic01.jpg" alt="" /></a>

        {{ content }}

      </div>
    </section>

    <!-- About Me -->
    <section id="about" class="three">
      <div class="container">

        <header>
          <h2>Sobre Mim</h2>
        </header>

        <a href="http://facebook.com/alinetrres" class="image featured"><img src="{{ site.baseurl }}images/me.jpg" alt="" width="700" height="432"/></a>

        <p>Esta sou eu para quem tiver curiosidade. Sendo assim, convido todas a me adicionarem ou seguirem no facebook, twitter, instagram... ;)</p>

      </div>
    </section>
  </div>

  <div id="footer">
    
    <!-- Copyright -->
      <div class="copyright">
        <p>&copy; 2014 Aline Queen. All rights reserved.</p>
        <ul class="menu">
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    
  </div>
</body>
</html>
