<!DOCTYPE html>
<html lang="pt-BR">

{% include header.html %}

<body>

  {% include menu.html %}
  <!--Div 'main' vem do include 'menu.html'-->

    <!-- Intro -->
    <section id="top" class="one">
      <div class="container">

        <a href="{{ page.menu_current }}" class="image featured"><img src="{{ site.baseurl }}images/coroa-princesa.jpg" alt="" /></a>

        {{ content }}

      </div>
    </section>

  </div> <!-- Finalizando o div='main'-->

  <div id="footer">
    
    <!-- Copyright -->
      <div class="copyright">
        <p>&copy; 2014 Aline Queen. Todos os direitos reservados.</p>
        <ul class="menu">
          <li>Site por: <a href="http://fb.com/helciopenha">Helcio Penha</a></li>
        </ul>
      </div>
    
  </div>

</body>
</html>
