<!DOCTYPE html>
<html lang="pt-BR">

{% include header.html %}

<body>
  
  {% include likefb.html %}
  {% include menu.html %}
  <!--Div 'main' vem do include 'menu.html'-->

    <!-- Intro -->
    <section id="top" class="one">
      <div class="container">
        
        <div class="fb-like" data-href="https://www.facebook.com/blogalinequeen?ref=hl&amp;ref_type=bookmark" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" data-colorscheme="dark"></div>
        
        <a href="{{ page.menu_current }}" class="image featured"><img src="{{ site.baseurl }}/images/coroa-princesa.jpg" alt="" /></a>

        {{ content }}

      </div>
    </section>

  </div> <!-- Finalizando o div='main'-->

  <div id="footer">
    
    <!-- Copyright -->
      <div class="copyright">
        <p>&copy; 2014 Aline Queen. Todos os direitos reservados.</p>
      </div>
    
  </div>

</body>
</html>
